.container{
   margin: 0% 2%;
}

#app {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #2c3e50;
   background: #f7fbff;
}

.flex-container {
   display: flex;
   flex-direction: column;
}

.header-container {
   display: flex;
   flex-direction: row;
   background: #fff;
   padding: 0 2% 0 2%;
}

.flex-direction-row {
   flex-direction: column;
}

.flex-row {
   display: flex;
}

.card {
   display: flex;
   flex-direction: column;
   background: #fff;
   margin: 0px 15px 15px;
   width: 100%;
   border-radius: 11px;
   box-shadow: 1px 1px 5px 1px #00000021;
}
.card:hover {
    box-shadow: 1px 1px 5px 1px #00000061;
}

.card-container {
   display: flex;
   justify-content: center;
}

.flex-col {
   display: flex;
   flex-direction: column;
}

.col {
   flex: 1;
   margin: 0px 10px;
}

.col-2 {
   flex: 2;
}
.col-3 {
   flex: 3;
}
.col-4 {
   flex: 4;
}
.col-6 {
   flex: 6;
}

.col-8 {
   flex: 8;
}

.col-9 {
   flex: 9;
}

.col-12 {
   flex: 12;
}

.orders{
   background: #f7fbff;
   padding: 3% 0;
   height: 100vh;
}

.nav-brand{
   font-size: 30px;
   padding: 0px 35px 0px 3px;
   letter-spacing: 3px;
   font-weight: 800;
   -webkit-text-stroke: thick;
}

.nav-brand a, .nav-menu a{
   text-decoration: none;
   color: #5a5656;
   font-weight: 800;
}

.nav-brand a:hover, .nav-menu a:hover{
   color: #44deb3;
}

.menu{
   padding: 20px 5px;
   border-bottom: 4px solid transparent;
}

.menu:hover {
    border-bottom: 4px solid #44deb3;
}

.active{
   border-bottom: 4px solid #44deb3;
}

.header-left{
}

.header-right{
   text-align: right;
}

.nav-user, .nav-user img{
   width: 35px;
   border-radius: 25px;
   cursor: pointer;
}

.user-status{
   background: #44deb3;
   width: 10px;
   height: 10px;
   border-radius: 10px;
   position: absolute;
   right: 41px;
   top: 26px;
   border: 1px solid #fff;
}

.order-list-heading{
   text-transform: uppercase;
   text-align: left;
   padding: 5px 20px;
   font-size: 13px;
}

.card-container{
   background: #efefef;
}

.margin-top-bottom-4{
    margin-top: 4px;
    margin-bottom: 4px;
}
.margin-top-bottom-3{
    margin-top: 3px;
    margin-bottom: 3px;
}

.inline-icon{
    display: inline-flex;
}

.horizontal-separator{
    width: 100%;
    border-top: 1px solid #00000021;
}
.separator{
    color: #00000021;
}
.left-content{
    text-align: left;
}
ul {
    margin: 0px;
}