#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.orders{

}
.nav-brand{
    font-size: 30px;
    font-weight: 800px;
}
