#app {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #2c3e50;
}

.flex-container {
   display: flex;
   flex-direction: column;
}

.header-container {
   display: flex;
   flex-direction: row;
}

.flex-direction-row {
   flex-direction: column;
}

.flex-row {
   display: flex;
}

.card {
   display: flex;
   flex-direction: column;
   background: #fff;
   padding: 15px;
   margin: 0px 15px 15px 15px;
   width: 100%;
   border-radius: 11px;
}

.card-container {
   display: flex;
   justify-content: center;
}

.flex-col {
   display: flex;
   flex-direction: column;
}

.col {
   flex: 1;
}

.col-2 {
   flex: 2;
}

.col-4 {
   flex: 4;
}
.col-6 {
   flex: 6;
}

.col-8 {
   flex: 8;
}

.col-12 {
   flex: 12;
}

.header{
   padding: 10px 0px;
}

.orders{
   background: #f7fbff;
}

.nav-brand{
   font-size: 30px;
   padding: 0px 30px;
   letter-spacing: 3px;
   font-weight: 800;
   -webkit-text-stroke: thick;
}

.nav-brand a, .nav-menu a{
   text-decoration: none;
   color: #5a5656;
   font-weight: 800;
}

.nav-brand a:hover, .nav-menu a:hover{
   color: #44deb3;
}

.header-left{
}

.header-right{
   text-align: right;
}

.nav-user, .nav-user img{
   width: 35px;
   border-radius: 25px;
   cursor: pointer;
}

.user-status{
   background: #44deb3;
   width: 10px;
   height: 10px;
   border-radius: 10px;
   position: absolute;
   right: 13px;
   top: 35px;
   border: 1px solid #fff;
}

.order-list-heading{
   text-transform: uppercase;
   text-align: left;
   padding: 5px 20px;
   font-size: 13px;
}

.card-container{
   background: #efefef;
}

.margin-top-bottom-1{
    margin-top: 1px;
    margin-bottom: 1px;
}
.margin-top-bottom-4{
    margin-top: 4px;
    margin-bottom: 4px;
}

.inline-icon{
    display: inline-flex;
}
