<div class="card-container" v-bind:id="orderKey()">
    <div class="card">
        <div class="col-12">
            <div class="options"><span>...</span></div>
        </div>
        <ul id="options">
            <li>Delete</li>
        </ul>
        <div class="col-12 pad-15">
            <div class="flex-row">
                <div class="col-6">
                    <div class="left-content">
                        <img class="product-image" v-bind:src="loadImage(order.image_name)" v-bind:alt="order.title"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flex-row flex-direction-row">
                        <div class="col-12">
                            <div class="card-info">
                                <p class="status margin-top-bottom-4"><strong>{{order.status}}</strong></p>
                                <p class="margin-top-bottom-3 inline-icon right-aligned"><img class="timer-icon" v-bind:src="loadTimerIcon()" alt="timer"/>
                                    <span class="font-14">{{ order.days }}</span></p>
                                <p class="margin-top-bottom-3"><span class="font-14">{{ order.hours }}</span> &nbsp;<span class="separator"> | </span>&nbsp; <span class="font-14"><strong>{{ order.cost }}</strong></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="horizontal-separator">

            </div>
        </div>
        <div class="col-12 pad-15">
            <div class="flex-row">
                <div class="col-9">
                    <div class="left-content">
                        <a href="#" class="view-button" title="Click to view order">View Order</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="comments">
                        <div class="comment">
                            <div class="comment-icon" title="Post a comment">
                                <img class="icon-image" v-bind:src="loadCommentIcon()" alt="comment"/>
                            </div>
                            <div class="comment-user-icon">
                                <img class="icon-image" v-bind:src="loadUserIcon()" alt="user-icon"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
