.options{
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    font-size: 20px;
    line-height: 0px;
    padding: 15px 15px 5px 15px;
}

#options{
    display: none;
}
.product-image{
    width: 65px;
    border: 2px solid #e4d6d6;
    border-radius: 10px;
}
.status{
    background: #ffd2b2a1;
    border: 1px solid #f9751857;
    border-radius: 10px;
    padding: 3px 1px;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    width: 85px;
    margin-left: auto;
    text-align: center;
}
.view-button{
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    color: #5a5656;
}
.comment{
    display: flex;
    justify-content: space-between;
}

.font-14{
    font-size: 14px;
}
.comment-icon{
}

.comment-user-icon{

}
.icon-image{
   width: 20px;
   border-radius: 25px;
   cursor: pointer;
}

.timer-icon{
    width: 17px;
    margin-right: 5px;
}
.card-info{
    text-align: right;
}
.pad-15{
    padding: 15px;
}